<% provide(:title, 'All users') %>
<h1>View and Search users</h1>

<%= search_form_for @q_users do |f| %>
  <%= f.label :name %>
  <%= f.search_field :name_cont %><br>
  <%= f.label :role %>
  <% if isAdmin? %>
    <%= f.collection_select :role_eq, User.roles.except(:SuperAdmin), :first, :first, {:include_blank => "Please select user type"} %><br>
  <% else %>
    <%= f.collection_select :role_eq, User.roles, :first, :first, {:include_blank => "Please select user type"} %><br>
  <% end %>
  <%= submit_tag 'Search', name: nil, class: "btn btn-primary" %>
<% end %>

<%= will_paginate %>

<%= content_tag :table, class: 'table' do %>
  <%= content_tag :thead, display_user_sorted_column_headers(@q_users), nil, false  %>
  <%= content_tag :tbody, display_user_search_results(@users), nil, false  %>
<% end %>

<%= will_paginate %>