    <%= form_for(@car) do |f| %>
      <% if @car.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@car.errors.count, "error") %>.
          </div>
          <ul>
          <% @car.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <%= f.label :licensePlateNumber %>
      <%= f.text_field :licensePlateNumber %>
      <br>
      <%= f.label :manufacturer %>
      <%= f.text_field :manufacturer %>
      <br>
      <%= f.label :model %>
      <%= f.text_field :model %>
      <br>
      <% if isAdmin? || isSuperAdmin? %>
        <%= f.label :hourlyRentalRate %>
        <%= f.number_field :hourlyRentalRate, min: 0, step: 0.01 %><br>
      <% elsif isCustomer? %>
        <%= f.hidden_field :hourlyRentalRate, value: 0 %>
      <% end %>
      <%= f.label :style %>
      <%= f.collection_select :style, Car.styles, :first, :first, {:prompt => "Please select car status"} %>
      <br>
      <%= f.label :location %>
      <%= f.text_field :location %>
      <br>
      <% if isAdmin? || isSuperAdmin? %>
        <%= f.label :status %>
        <%= f.collection_select :status, Car.statuses, :first, :first, {:prompt => "Please select car status"} %><br>
      <% elsif isCustomer? %>
        <%= f.hidden_field :status, value: :Suggested %>
      <% end %>
      
      <%= f.submit "Submit car info", class: "btn btn-primary" %>
    <% end %>
    